# Docker-Composer Env
DK_ENVIRONMENT=develop
DK_PROJECT_NAME=dqrtech
DK_UID=1000
DK_GID=1000

# API Env
API_PORT=3333
API_URL="http://localhost:${API_PORT}"
API_JWT_SECRET=secret
API_JWT_EXPIRATION=1d
API_SENTRY_ENABLED=false
API_DEGUG_PORT=9240

# Mongodb Env
MONGO_INITDB_PORT=27017
MONGO_INITDB_ROOT_USERNAME="${DK_PROJECT_NAME}"
MONGO_INITDB_ROOT_PASSWORD="${DK_PROJECT_NAME}#pass"
MONGO_INITDB_DATABASE="${DK_PROJECT_NAME}"

# FRONTEND
FRONTEND_PORT=3000
FRONTEND_URL="http://localhost:${FRONTEND_PORT}"

